
body{
  margin:0;
  font-family:system-ui;
  background:#070b1c;
  color:white;
}

.page{
  display:flex;
  align-items:center;
  justify-content:space-between;
  max-width:1200px;
  margin:auto;
  padding:80px 20px;
}

.left{
  max-width:420px;
}

.right{
  width:700px;
  position:relative;
}
